# Node modules
node_modules/
.wwebjs_cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Uploads (foto berita, dll)
uploads/

# Build output / temporary files

